<h1> Vote Leaderboard </h1>
<% @sectors.each do |sector| %>
  <h2> <%= sector.name %> </h2>
  <div id="<%= sector.name %>">
    <%= render "sector_vote_count", sector: sector %>
  </div>
<% end %>

<div class="test"></div>
